.file-item {
  font-size: 0.9rem;
  min-width: 130px;
  width: 23%;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.file-item.active {
  background: #eee;
}
.file-item:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.28);
}
.file-item .icon {
  position: absolute;
  top: 8px;
  right: 8px;
}
.react-contextmenu {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 3px;
  overflow: hidden;
}

.react-contextmenu-item {
  padding: 5px 20px;
  cursor: pointer;
}
.react-contextmenu-item--selected {
  background: #f3f3f3;
}

.react-contextmenu-item--divider {
  background: #eee;
  padding: 1px 0 0 0;
}
